useDynLib(CompreSSoR, .registration = TRUE)
S3method(print,compressor_store)
export(benchmark_table)
export(build_cache)
export(compress_sumstats)
export(compressor_variant_key)
export(decompress_sumstats)
export(import_sumstats)
export(open_compressor)
export(read_sumstats)
export(read_sumstats_batch)
export(validate_compressor)
