useDynLib(CompreSSoR, .registration = TRUE)
S3method(print,compressor_store)
export(benchmark_table)
export(build_canonical_reference)
export(build_cache)
export(compress_sumstats)
export(compressor_variant_key)
export(decompress_sumstats)
export(download_reference)
export(grch38_reference)
export(harmonise_sumstats)
export(import_sumstats)
export(liftover_sumstats)
export(open_compressor)
export(reference_cache_dir)
export(read_sumstats)
export(read_sumstats_batch)
export(resolve_reference)
export(validate_compressor)
export(build_ebi_reference)
